.jumbotron {
    background-color: pink;
}
body { background-color:green; 
}
h1 {
    color:green;
    font-family:  'Akaya Telivigala', cursive;
    font-weight: bolder;
    font-size: 250px;
}

.justify-content-center {
    background-color: hotpink;
}
